<cv-sector>
    <span class="header">Skills</span>
    <div class="small-text">
        <div>JavaScript, TypeScript, NodeJS</div>
        <div class="mar-top-small">AngularJS, AngularJS Material</div>
        <div class="mar-top-small">Firebase, MongoDB, Docker</div>
        <div class="mar-top-small">C++, Golang, Assembler</div>
    </div>
</cv-sector>
<sector-divider></sector-divider>
<cv-sector class="mar-top-big">
    <span class="header">Projects</span>
    <div class="small-text">
        <div class="subheader">ExePay</div>
        <p>Proof-of-Authority blockchain written on Golang, with AngularJS Material frontend</p>
        <div class="mar-top-small">Link: <cv-link>https://exepay.cf</cv-link></div>

        <div class="subheader mar-top-big">mitmProxy</div>
        <p>SSL capable man-in-the-middle proxy written on Golang</p>
        <div class="mar-top-small">Source code: <cv-link>https://github.com/zolbooo/mitmproxy</cv-link></div>

        <div class="subheader mar-top-big">socketlib</div>
        <p>C++ socket library for Linux and Windows</p>
        <div class="mar-top-small">Source code: <cv-link>https://github.com/zolbooo/socketlib</cv-link></div>

        <div class="subheader mar-top-big">gTOTP</div>
        <p>C++ Time-based One Time Password library</p>
        <div class="mar-top-small">Source code: <cv-link>https://github.com/zolbooo/gtotp</cv-link></div>

        <div class="subheader mar-top-big">KachJS</div>
        <p>Minimalistic TypeScript framework.</p>
        <div class="mar-top-small">Source code: <cv-link>https://github.com/zolbooo/kachjs-cli</cv-link></div>

        <p class="mar-top-big">This page is made using KachJS.</p>
        <div class="mar-top-small">Source code: <cv-link>https://github.com/zolbooo/kachjs-cv</cv-link></div>
    </div>
</cv-sector>