<cv-sector>
    <span class="header">Skills</span>
    <div class="small-text">
        <div>JavaScript, C++</div>
        <div class="mar-top-small">HTML, CSS3</div>
        <div class="mar-top-small">KachJS, Firebase</div>
    </div>
</cv-sector>
<sector-divider></sector-divider>
<cv-sector class="mar-top-big">
    <span class="header">Projects</span>
    <div class="small-text">
        <div class="subheader">Chat-77ca3</div>
        <p>Chat for people that have a same feeling and thinking</p>
        <div class="mar-top-small">Link: <cv-link>https://chat-77ca3.firebaseapp.com</cv-link></div>

        <div class="subheader mar-top-big">Button-Battle</div>
        <p>Fun little game to play with your friend</p>
        <div class="mar-top-small">Source code: <cv-link>https://time-wasting-button-clicker.firebaseapp.com</cv-link></div>

        <div class="subheader mar-top-big">Calendar</div>
        <p>Calendar Built Out of JavaScript</p>
        <div class="mar-top-small">Source code: <cv-link>https://khanka9a-cale.firebaseapp.com</cv-link></div>

        <p class="mar-top-big">This page is made using KachJS.</p>
        <div class="mar-top-small">Source code: <cv-link>https://github.com/zolbooo/kachjs-cli</cv-link></div>
    </div>
</cv-sector>